NODE_ENV=development
PORT=5016

MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/wallet_services

JWT_SECRET=Qw8vZ!2r@7pLx#1e$9sTg^4bHjKmNcRf
JWT_ACCESS_SECRET=Qw8vZ!2r@7pLx#1e$9sTg^4bHjKmNcRf

AUTH_SERVICE_URL=http://localhost:5000

CORS_ORIGIN=http://localhost:5173,http://localhost:5174,https://choosemood.com,https://www.choosemood.com
